    body {
        margin: 0;
        padding: 0;
        background: #1d222c;
    }
    
    .main-game {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .genius {
        display: grid;
        grid-template-areas: 'verde vermelho' 'amarelo azul';
        grid-gap: 10px;
        background-color: #fff;
        border-radius: 100%;
        width: 500px;
        height: 500px;
        box-shadow: inset 0 0 1em rgb(73, 63, 218), 0 0 1em #648ee0;
        ;
    }
    
    .blue {
        grid-area: azul;
        background-color: blue;
        border-bottom-right-radius: 100%;
    }
    
    .red {
        grid-area: vermelho;
        background-color: red;
        border-top-right-radius: 100%;
    }
    
    .yellow {
        grid-area: amarelo;
        background-color: yellow;
        border-bottom-left-radius: 100%;
    }
    
    .green {
        grid-area: verde;
        background-color: green;
        border-top-left-radius: 100%;
    }
    
    .seleter {
        opacity: 0.4;
    }